/* Write your CSS here */
.bg-container {
  display: flex;
  min-height: 100vh;
}
.events-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #64748b;
  padding: 20px;
  flex-grow: 1;
}
.events-heading-style {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
  color: #f8fafc;
}
.events-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
